@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Piazzolla:wght@300;400;700&display=swap rel="stylesheet">");

/*-------------------------------------Header */

header {
    margin: 0;
}

.header-elements {
    text-align: center;
}

#nav li {
    padding-right: 35px;
    margin-top: 20px;
    margin-left: 10px;
}

a {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-family: 'Piazzolla', sans-serif;
    font-weight: 700;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

/*-------------------------------------- Body */

section.intro {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 15rem;
}
