@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Piazzolla:wght@300;400;500;600;700&display=swap');

/*-------------------------------------Header */

*{
 margin: 0;
 padding: 0;
}

header {
    text-align: center;
}

.navbar-nav {
  text-align: center;
  width: 100%;
}

.navbar-custom {
    background-color: #3b3b3b;
}

.navbar-text {
    color: #fff;
}

.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul a {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#main:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

/*-------------------------------------- Main Intro */

section.intro {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 15em;
}

#welcome {
    padding-right: 2%;
}

.intro h2 {
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 700;
}

.intro h4 {
    padding-bottom: 30px;
    font-weight: 600;
}

.intro h3 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

#main {
    font-family: "Piazzolla", sans-serif;
    font-size: 16px;
}


.left {
    background: #e3736b;
    width: 50%;
    height: 100vh;
    border-radius: 1%;
}

.arrow {
  padding-top: 50px;
  font-size: 30px;
}

.arrow:hover {
    font-size: 35px;
}

.intro a {
    color: #000000;
}

@media screen and (max-width:1500px) {
    section.intro {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 5em;
    }
}


/*------------------------Section "Why Tango?" */


.why-tango {
    min-height: 300px;
}

.why-tango-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-tango-left>p {
    text-align: center;
    padding: 40px 20px;
    font-family: "Piazzolla", sans-serif;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 3px;
}

.why-tango-left:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width:1050px) {
    .why-tango-left {
     background-color: #F8DFDD;
     width: 100%;
     height: 100%;
    }
}


/*--------------------Section "The Dream" */

.the-dream {
    min-height: 450px;
}

.the-dream-left {
    background-color: #B46875;
    border-radius: 10px;
}

.the-dream-right>p {
    text-align: center;
    padding: 20px 20px;
    font-family: "Piazzolla", sans-serif;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 3px;
}

.the-dream-right:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width:1050px) {
    .the-dream-right {
     background-color: #E5A19E;
     width: 100%;
     height: 100%;
    }
}

/*--------------------Section "History */

.history { 
    min-height: 500px;
}

.history-right {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.history-left>p, h4 {
    text-align: center;
    padding: 10px 20px;
    font-family: "Piazzolla", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 14px;
}

.history-left:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width:1050px) {
    .history-left {
     background-color: #DDBBC0;
     width: 100%;
     height: 100%;
    }
}

.second-history {
    min-height: 400px;
}

.second-history-left {
    background-color: #DE5D54;
    border-radius: 10px;
}

.second-history-right>p, h4 {
    text-align: center;
    padding: 10px 20px;
    font-family: "Piazzolla", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 14px;
}

.second-history-right:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width:1050px) {
    .second-history-right {
     background-color: #C8929B;
     width: 100%;
     height: 100%;
    }
}
    

/*-------------------- My footer */

.my-footer {
    margin: 10px auto 20px auto;
}

/*-----------------------------Classes (originally lessons) & Events */

.lessons {
    min-height: 450px;
}
.lessons-left {
    background-color: #e3736b;
    border-radius: 10px;
    height: 450px;
}

.lessons-right {
    text-align: center;
    font-family: "Piazzolla", sans-serif;
    padding: 50px 20px;
}

@media screen and (max-width:1050px) {
    .lessons-right {
     background-color: #DDBBC1;
     width: 100%;
    }
}

.events {
    min-height: 300px;
}

.events-right {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width:1050px) {
    .events-right {
     height: 250px;
    }
}

.events-left {
    text-align: center;
    font-family: "Piazzolla", sans-serif;
    padding: 50px 20px;
}

.events-left h4 {
    padding-bottom: 45px;
}

.events-left a i {
    padding-top: 55px;
}

@media screen and (max-width:1050px) {
    .events-left {
     background-color: #BB7783;
     width: 100%;
    }
}

.facebook-icon {
    display: block;
    font-size: 30px;
    padding-top: 20px;
    color: #000;
}

.facebook-icon:hover {
    font-size: 35px;
}

.lessons:hover {
    background-color: #F8DFDD;
    transition: all 0.4s ease-in-out;
}

.events-left:hover {
     background-color: #F8DFDD;
     transition: all 0.4s ease-in-out;
}


/*-----------------------------Contact form */

.contact-heading {
    font-family: "Piazzolla", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #920505;
}

@media(min-width: 992px) {
    .center-form {
       padding-top: 30px;
       min-height: 240px;
       margin: 0 auto;
       max-width: 50%;
  }  
}