@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Piazzolla:wght@300;400;700&display=swap rel="stylesheet">");

/*-------------------------------------Header */

header {
    margin: 0;
}

.header-elements {
    text-align: center;
}

#nav li {
    padding-right: 35px;
    margin-top: 20px;
    margin-left: 10px;
}

a {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-family: 'Piazzolla', sans-serif;
    font-weight: 700;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

/*-------------------------------------- Body */

section.intro {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 15rem;
}

#welcome {
    padding-right: 1em;
}

h2 {
    text-transform: uppercase;
}

h4 {
    padding-bottom: 30px;
}

#main {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#main h2 {
    padding-bottom: 30px;
}

#main p {
  text-align: center;
  padding: 20px 50px;
}

.left {
    background: #dfd5d5;
    width: 50%;
    height: 100vh;
    border-radius: 2%;
}

.arrow {
padding-top: 50px;
font-size: 30px;
}

/*------------------------Section "Why Tango?" */


.why-tango {
    max-height: 300px;
}

.why-tango-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}
